<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>step-4</title>
</head>

<body>
    <div id="app">
        <section id="signInAndSignUp">
            <div class="signHead">
                <label for="signUpBtn"><input type="radio" id="signUpBtn" v-model="actionType" value="signUp">注册</label>
                <label for="loginBtn"><input type="radio" id="loginBtn" v-model="actionType" value="login">登录</label>
            </div>
            <div class="signUp" v-if="actionType=='signUp'">
                <form @submit.prevent=signUp>
                    <div class="formRow">
                        <span>用户名:</span><input type="text" v-model="formData.username">
                    </div>
                    <div class="formRow">
                        <span>密码:</span><input type="password" v-model="formData.password">
                    </div>
                    <div class="formActions">
                        <input type="submit" value="注册">
                    </div>
                </form>
            </div>
            <div class="login" v-if="actionType=='login'">
                <form action="">
                    <div class="formRow">
                        <span>用户名:</span><input type="text">
                    </div>
                    <div class="formRow">
                        <span>密码:</span><input type="password">
                    </div>
                    <div class="formActions">
                        <input type="submit" value="登录">
                    </div>
                </form>
            </div>
        </section>
        <section id="todo">
            <div class="logo"></div>
            <div class="newTask">
                <input type="text" v-model="newTodo" @keyup.enter="addTodo">
            </div>
            <div class="todos-box">
                <ol class="todos">
                    <li v-for="todo in todoList">
                        <input type="checkbox" v-bind:id="todo.id" v-model="todo.done">
                        <label v-bind:for="todo.id"></label>
                        <span class="title">{{ todo.title }}</span>
                        <span class="creation-time"> {{ todo.createdAt }} </span>
                        <span v-if="todo.done">已完成</span>
                        <span v-else>未完成</span>
                        <button @click="removeTodo(todo)">删除</button>
                    </li>
                </ol>
            </div>
        </section>
    </div>
    <script src="bundle.js"></script>
</body>

</html>